html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    line-height: inherit;
    vertical-align: baseline;
}

input, textarea {
    font-size: 100%;
    font: inherit;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

strong {
    font-weight: bold;
}

body {
    font-family: Arial, sans-serif;
    color: #333;
    font-size: 12px;
    padding: 10px;
    overflow: hidden;
}

#server-status {
    float: right;
    margin-right: 40px;
}

#player {
    display: block;
    height: 60px;
    position: relative;
}

#player .buttons {
    position: absolute;
    top: 0;
    left: 0;
}

#player .buttons button {
    display: inline-block;
    width: 40px;
    height: 26px;
    padding: 0;
    line-height: 24px;
    text-align: center;
    font-size: 15px;
    margin-right: 10px;
}

#player .buttons .pause {
    font-size: 12px;
}

#player .buttons .prev, #player .buttons .next {
    font-size: 12px;
    letter-spacing: -4px;
}

#player .buttons .current-time {
    font-family: monospace;
}

#player .seek {
    position: absolute;
    left: 5px;
    right: 40px;
    top: 40px;
}

#player .volume {
    position: absolute;
    right: 0;
    top: 5px;
    height: 45px;
}

#track-info {
    width: 300px;
    float: left;
}

#track-info .titles {
    overflow: hidden;
}

#track-info h2 {
    margin-bottom: 5px;
}

#track-info .track-name {
    font-size: 15px;
}

#track-info h2 span {
    font-weight: bold;
}

#track-info .album-art {
    width: 300px;
    /*height: 300px;*/
    /*min-height: 100px;*/
    /*display: table-cell;*/
    text-align: center;
    /*vertical-align: middle;*/
    margin: 20px 0;
    overflow: hidden;
}

#track-info .album-art img {
    display: inline-block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    max-width: 300px;
    max-height: 300px;
    border: 1px solid #888;
    vertical-align: middle;
}

.dummy-album-art {
    position: relative;
    width: 300px;
    height: 300px;
    overflow: hidden;
    border: 1px solid #888;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 20px;
    background: #EEE;
    font-family: serif;
    font-size: 14px;
}

.dummy-album-art h3 {
    font-size: 18px;
    margin-bottom: 20px;
}

#lists {
    margin-left: 320px;
    overflow: hidden;
}

#search {
/*    width: 48%;
    float: left;*/
}

#search .search {
    margin: 4px 0;
}

#search .search input {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    border: 1px solid #888;
}

#playlist {
    width: 48%;
    float: right;
    display: none;
}

.virtual-list {
    position: relative;
}

.virtual-list .menu-button {
    position: absolute;
    display: block;
    width: 15px;
    height: 20px;
    right: 0;
    top: 0;
    font-size: 8px;
    text-decoration: none;
    color: #000;
    line-height: 20px;
    text-align: center;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    border: 1px solid outset;
    background: #EEE;
}

.virtual-list .padder {
    overflow: hidden;
    position: relative;
}

.virtual-list th, .virtual-list td {
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    padding: 0 4px;
    height: 16px;
    vertical-align: middle;
    text-align: left;
    cursor: default;
    
    /* juuh elikkäs */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.virtual-list td {
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
    border-right: 1px solid #DDD;
}

.virtual-list th {
    border-top: 2px solid #CCC;
    border-bottom: 2px solid #CCC;
    border-right: 1px solid #DDD;
    background: #EEE;
}

.virtual-list tr:nth-child(even) td {
    background: #F8F8F8;
}

.virtual-list tr.current td {
    background: #EEF ;
    border-top: 2px solid #DDF;
    border-bottom: 2px solid #DDF;
}

.virtual-list  table {
    width: 100%;
    border-spacing: 0;
    table-layout: fixed;
    background: #FFF;
}

.virtual-list .heading-table {
    box-sizing: border-box;
    padding-right: 18px;
}

.virtual-list .rows {
    height: 500px;
    position: relative;
    overflow: scroll;
    overflow-y: scroll;
    overflow-x: hidden;
}

.virtual-list .rows table {
    position: absolute;
    left: 0;
    top: 0;
}

.track-list .track { width: 20px; }
.track-list .title { width: 30%; }
.track-list .artist { width: 20%; }
.track-list .album { width: 20%; }
.track-list .duration { width: 50px; text-align: right; }

#shader {
    position: fixed;    
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 99;
}

#album-browser {
    position: fixed;
    z-index: 100;
    top: 20px;
    left: 50%;
    width: 1160px;
    margin-left: -560px;
    height: 920px;
    background: rgba(255, 255, 255, 0.6);
}

#album-browser .container {
    position: relative;
    padding: 20px;
    height: 880px;
    overflow: scroll;
    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#album-browser .padder {
    position: relative;
}

#album-browser ul {
    position: absolute;
}

#album-browser ul li {
    float: left;
    position: relative;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 200px;
    height: 200px;
    margin: 10px;
    text-align: center;
    line-height: 200px;
    list-style: none;
    background: rgba(255, 255, 255, 0.2);
    -webkit-transition: -webkit-transform 0.2s ease-in-out;
    -webkit-transform-origin: 50% 50%;
    z-index: 10;
}

#album-browser ul li .info {
    position: absolute;
    top: 100%;
    width: 100%;
    left: 0;
    margin-top: -1px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 10px;
    box-sizing: normal;
    color: #FFF;
    background: rgba(0, 0, 0, 0.7);
    line-height: 1.2em;
    opacity: 0;
    border-radius: 0 0 5px 5px;
    -webkit-transition: opacity 0.15s ease-in-out;
}

#album-browser ul li img {
    margin: 0;
    max-width: 200px;
    max-height: 200px;
    vertical-align: middle;
}

#album-browser.allow-hover li:hover {
    -webkit-transform: scale(1.25);
    -webkit-transform-origin: 50% 50%;
    z-index: 11;
}

#album-browser.allow-hover li:hover .info {
    opacity: 1;
}

#album-browser .dummy-album-art {
    position: relative;
    width: 200px;
    height: 200px;
    overflow: hidden;
    padding: 10px;
    font-size: 12px;
    line-height: 1.5em;
    cursor: default;
}

#album-browser .dummy-album-art h3 {
    font-size: 15px;
    margin-bottom: 10px;
}

#invalid-browser {
    margin: 0 0 10px 0;
    border: 1px solid #000;
    background: #800;
    color: #FFF;
    font-size: 15px;
    padding: 10px;
}
